body{
  position: relative;
}
h1{
  text-align: center;
  margin-top: 40%;
}
div{
  text-align: center;
}

button{
  margin-top: 5%;
  color: #333333;
  background-color: #b5eb36;
  border:#b5eb36 solid 1px;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}